@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
html, body {
    font-family: 'Poppins', sans-serif;

}
.header{
  font-family: 'Bebas Neue', cursive;
}
.carousel__prev {
    top: unset;
    left: unset;
    right:80px;
    transform: translate(0, 0);
    bottom: 20px;
  }

  .carousel__next {
    top: unset;
    right: 0;
    transform: translate(0, 0);
    right: 20px;
    bottom: 20px;
  }
  